<!-- 공통 레이아웃 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta -->
    <th:block th:replace="~{fragments/meta :: meta}"></th:block>
    <!-- link : css -->
    <th:block th:replace="~{fragments/head::head}"></th:block>
    <title th:text="${pageTitle} ?: '두루두룹 - 함께 하면 더 즐거운 순간'">두루두룹</title>
</head>
<body>
    <!-- common -->
    <!-- <th:block th:replace="~{fragments/common::common}"> -->
    <!-- header -->
    <th:block th:replace="~{fragments/header::header}"></th:block>
    <!-- content : 레이아웃의 프레그먼트 영역 이름
        **참고 사항** 
        <body layout:fragment="content"> 
        위의 코드 body 태그에 프레그먼트 영역 이름 추가 필수! 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        위의 링크 상단 html 에 포함 필수! -->
    <th:block layout:fragment="content"></th:block>
    <!-- footer -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <!-- script -->
    <th:block th:replace="~{fragments/script::script}"></th:block>
</body>
</html>
<!-- footer : 없음
    **참고 사항** 
    index 화면에서만 footer 필요하므로
    index.html : layout + footer 필요!
    나머지.html : footer 필요 없음! -->
    
<!-- 수업 시간 layout 프로젝트 참고!-->