<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">두루두룹</title> -->
    <!-- meta -->
    <th:block th:replace="~{fragments/meta :: meta}"></th:block>
    <!-- link -->
    <th:block th:replace="~{fragments/link::link}"></th:block>
</head>
<body>
    <!-- 헤더 -->
    <th:block th:replace="~{fragments/header::header}"></th:block>
    
    <!-- 메인 -->
    <!-- content : 레이아웃의 프레그먼트 영역 이름
        **참고 사항** 
        <body layout:fragment="content"> 
        위의 코드 body 태그에 프레그먼트 영역 이름 추가 필수! 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        위의 링크 상단 html 에 포함 필수! -->
    <th:block layout:fragment="content"></th:block>
    
    <!-- JS / J쿼리 -->
    <th:block th:replace="~{fragments/scripts :: scripts}"></th:block>

    <!-- ✅ 여기 추가 -->
    <th:block layout:fragment="pageScripts"></th:block>
</body>
</html>