<!-- 헤더 fragment -->
<!-- TODO: 구현 -->
<th:block th:fragment="header">
    <header>
        <nav class="navbar">
            <div class="nav-container">
                <!-- 두루두룹 로고 -->
                <div class="nav-logo">
                    <img class="logo-icon" src="/img/durudurub.jpg" alt="두루두룹">
                    <span class="logo-text">두루두룹</span>
                </div>
                <!-- 네이게이션 메뉴 -->
                <div class="nav-menu">
                    <a href="" class="nav-link">모임 둘러보기</a>
                    <a href="" class="nav-link">공지사항</a>
                    <a href="" class="nav-link">미니게임</a>
                </div>
                <!-- 로그인 전/후 -->
                <div class="nav-user">
                    <!-- 로그인 전 -->
                    <div id="beforeLogin">
                        <button class="btn-signup">회원가입</button>
                        <button class="btn-login">로그인</button>
                    </div>
                    <!-- 로그인 후 -->
                    <div id="afterLogin">
                        <button class="btn-create">모임 만들기</button>
                        <div class="user-proflie">
                            <img class="user-avatar" src="" alt="프로필">
                        </div>

                        <div class="user-dropdown" style="display: none;">
                            <a href="">마이페이지</a>
                            <a href="">나의 모임</a>
                            <!-- <a href="">즐겨찾기</a> -->
                            <a href="" style="display: none;">관리자</a>
                            <a href="">로그아웃</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</th:block>