<!-- 헤더 fragment -->
<!-- TODO: 구현 -->

<!-- 추가할 것
    1. 로그인 전/후
    2. 로그인 후 user/admin 드롭다운
    3. 모바일용 아이콘 -->

<th:block th:fragment="header">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" th:href="@{/}">
      <div class="container-fluid">
          <!-- 두루두룹로고 -->
          <a class="navbar-brand d-flex align-items-center gap-1" href="/">
              <img th:src="@{/img/icons/logo-durup.png}" alt="두루두룹 로고" class="logo-img" width="40" height="40">
              <span class="fw-bold fs-5">두루두룹</span>
          </a>
          <!-- 검색창 영역 (중앙) -->
          <div class="search-container w-50">
              <form class="d-flex justify-content-center" role="search" th:action="@{/club/list}" method="get">
                  <div class="input-group">
                      <button class="btn btn-outline-secondary left-btn" type="submit">     
                        <img th:src="@{/img/icons/navbar-search-icon.png}" alt="검색" class="navbar-icon">
                      </button>
                      <input class="form-control rounded-pill shadow-none" type="search" placeholder="모임 검색..." aria-label="Search" style="padding-left: 50px;">
                      <button class="btn btn-outline-secondary right-btn" type="submit">
                        <img th:src="@{/img/icons/navbar-filter-button.png}" alt="ai검색" class="navbar-icon">
                      </button>
                  </div>
              </form>
          </div>
          
          <!-- 오른쪽 영역 -->
          <div class="navbar-right">
              <a th:href="@{/game/list}" class="minigameIcon btn btn-outline-success rounded-pill">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-gamepad2 lucide-gamepad-2 w-5 h-5" data-fg-cqpb112="211.221:228.1061:/src/app/components/Navbar.tsx:331:15:12093:32:e:Gamepad2::::::DKOk"><line x1="6" x2="10" y1="11" y2="11"></line><line x1="8" x2="8" y1="9" y2="13"></line><line x1="15" x2="15.01" y1="12" y2="12"></line><line x1="18" x2="18.01" y1="10" y2="10"></line>
                    <path d="M17.32 5H6.68a4 4 0 0 0-3.978 3.59c-.006.052-.01.101-.017.152C2.604 9.416 2 14.456 2 16a3 3 0 0 0 3 3c1 0 1.5-.5 2-1l1.414-1.414A2 2 0 0 1 9.828 16h4.344a2 2 0 0 1 1.414.586L17 18c.5.5 1 1 2 1a3 3 0 0 0 3-3c0-1.545-.604-6.584-.685-7.258-.007-.05-.011-.1-.017-.151A4 4 0 0 0 17.32 5z"></path>
                </svg>
                미니게임
              </a>
              <!-- 로그인 전후 : 추후 AI 까지 적용하기! -->
              <!-- 비로그인 -->
              <th:block sec:authorize="isAnonymous()">
                <a th:href="@{/join}" class="minigameIcon btn btn-outline-success rounded-pill">회원가입</a>
                <a th:href="@{/login}" class="minigameIcon btn btn-outline-success rounded-pill">로그인</a>
              </th:block>
              <!-- 로그인 후 : user -->
              <th:block sec:authorize="( hasRole('USER') )">
                  <div class="icon-container">
                      <button class="btn btn-link p-0" type="button">
                          <img th:src="@{/img/icons/navbar-notification.png}" alt="알림" class="user-icon">
                      </button>
                      <!-- user -->
                      <div id="user-dropdown" class="hidden">
                          <ul>
                              <li><a th:href="@{/users/mypage}" class="mypage">마이페이지</a></li>
                              <li><a th:href="@{/users/mypage/club}" class="myclub">내모임</a></li>
                              <hr>
                              <li>
                                  <form th:action="@{/logout}" method="post" style="display:inline;">
                                      <button type="submit" class="logout btn btn-link p-0">로그아웃</button>
                                  </form>
                              </li>
                          </ul>
                      </div>
                  </div>
              </th:block>
              <!-- 로그인 후 : admin -->
              <th:block sec:authorize="( hasRole('ADMIN') )">
                  <div class="icon-container">
                      <button class="btn btn-link p-0" type="button">
                          <img th:src="@{/img/icons/navbar-notification.png}" alt="알림" class="user-icon">
                      </button>
                      <!-- user -->
                      <div id="admin-dropdown" class="hidden">
                          <ul>
                              <li><a th:href="@{/admin/notice}" class="notice">공지사항</a></li>
                              <li><a th:href="@{/admin}" class="adminpage">관리자 페이지</a></li>
                              <hr>
                              <li>
                                  <form th:action="@{/logout}" method="post" style="display:inline;">
                                      <button type="submit" class="logout btn btn-link p-0">로그아웃</button>
                                  </form>
                              </li>
                          </ul>
                      </div>
                  </div>
              </th:block>
          </div>
      </div>
    </nav>
  </header>
</th:block>