<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>내 모임 관리 - 두루두룹</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage-club.css}">
</head>
<body> 
    <main layout:fragment="content" class="main-content">
        <div class="club-management-container">
            <!-- 탭 메뉴 -->
            <nav class="tab-menu" id="userNav">
                <button class="tab-btn active" data-url="/users/mypage/club/fragment/approvedClub">
                    <span class="material-symbols-outlined">group</span>
                    <span>참여 중인 모임</span>
                    <span class="badge" th:text="${countByApproved}">0</span>
                </button>
                <button class="tab-btn" data-url="/users/mypage/club/fragment/hostClub">
                    <span class="material-symbols-outlined">crown</span>
                    <span>리더인 모임</span>
                    <span class="badge" th:text="${countByHost}">0</span>
                </button>
                <button class="tab-btn" data-url="/users/mypage/club/fragment/pendingClub">
                    <span class="material-symbols-outlined">schedule</span>
                    <span>신청 중인 모임</span>
                    <span class="badge" th:text="${countByPending}">0</span>
                </button>
            </nav>

            <!-- 3개 Fragmenet -->
             <div id="myclubContent"></div>
        </div>
    </main>

    <th:block layout:fragment="script">
        <script>
            // 기본 탭 자동 로딩
            function loadUserFragment(url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (html) {
                        $('#myclubContent').html(html)
                    },
                    error:function (xhr, status, error) {
                        console.error('******Error:', { status: xhr.status, statusText: xhr.statusText, error, responseText: xhr.responseText });
                        $('#myclubContent').html("<p>불러오기 실패</p>")
                    }
                })
            }
            // 
            $(function () {
                loadUserFragment('/users/mypage/club/fragment/approvedClub')
            })

            // 네비 클릭
            $('#userNav').on('click', '.tab-btn', function () {
                $('.tab-btn').removeClass("active")
                $(this).addClass("active")

                loadUserFragment($(this).data('url'))
            })
        </script>
    </th:block>
</body>
</html>
