<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <title>내 모임 관리 - 두루두룹</title>
    <link rel="stylesheet" th:href="@{/css/mypage/mypage-club.css}">
</head>
<body> 
    <main layout:fragment="content">
        <div class="club-management-container">
            <!-- 탭 메뉴 -->
            <nav class="tab-menu" id="userNav">
                <button class="tab-btn active" data-url="/admin/fragment/approvedClub">
                    <span class="material-symbols-outlined">group</span>
                    <span>참여 중인 모임</span>
                    <span class="badge" id="countApproved" th:text="${countByApproved}">0</span>
                </button>
                <button class="tab-btn" data-url="/admin/fragment/hostClub">
                    <span class="material-symbols-outlined">crown</span>
                    <span>리더인 모임</span>
                    <span class="badge" id="countHost" th:text="${countByHost}">0</span>
                </button>
                <button class="tab-btn" data-url="/admin/fragment/pendingClub">
                    <span class="material-symbols-outlined">schedule</span>
                    <span>신청 중인 모임</span>
                    <span class="badge" id="countPending" th:text="${countByPending}">0</span>
                </button>
            </nav>
        </div>

        <!-- 3개 Fragmenet -->
        <section id="myclubContent"></section>
    </main>

    <th:block layout:fragment="script">
        <script>
            // 기본 탭 자동 로딩
            function loadUserFragment(url) {
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (html) {
                        $('#myclubContent').html(html)
                    },
                    error:function (xhr, status, error) {
                        console.error('******Error: ', error)
                        $('#myclubList').html("<p>불러오기 실패</p>s")
                    }
                })
            }
            // 상위 카테고리 (참여중 / 리더 / 신청 중)
            $(function () {
                loadUserFragment('/mypage/fragment/approvedClub')
            })
            // 네비 클릭
            $('#userNav').on('click', '.tab-menu', function () {
                $('.tab-menu').removeClass("active")
                $(this).addClass("active")

                loadUserFragment($(this).data('url'))
            })

            // 상위 카테고리 (개수) - countApproved / countHost / countPending
            function countList(type, diff) {
                // 타입에 따라 바뀌는 객체 매핑
                const map = {
                    APPROVED: "#countApproved",
                    PENDING: "#countPending",
                    HOST: "#countHost"
                }
                // 선택된 타입을 제이쿼리 객체로 담기
                let changeType = $(map[type])
                // 숫자로 반환
                let count = Number(changeType.text())
                // 반환된 숫자와 받은 파라미터 계산 (0 최소)
                changeType.text(Math.max(0, count + diff))
            }
        </script>
    </th:block>
</body>
</html>
